name: Test Project
on: push
jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: ./second-action
        run: npm ci

      - name: Run tests
        working-directory: ./second-action
        run: npm test
